{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}



{% block headertext %}{% endblock %}

{% block column_left %}
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile-view' %}">個人資訊</a>
            </li>
            <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                <a href="{% url 'customer:order-list' %}">訂單歷史</a>
            </li>
            <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                <a href="{% url 'customer:address-list' %}">地址</a>
            </li>
<!--             <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
            </li> -->
            <li{% if active_tab == 'alerts' %} class="active"{% endif %}>
                <a href="{% url 'customer:alerts-list' %}">缺貨通知</a>
            </li>
            <li{% if active_tab == 'notifications' %} class="active"{% endif %}>
                <a href="{% url 'customer:notifications-inbox' %}">通知</a>
            </li>
            <li{% if active_tab == 'wishlists' %} class="active"{% endif %}>
                <a href="{% url 'customer:wishlists-list' %}">願望清單</a>
            </li>
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    {% block tabcontent %}{% endblock tabcontent %}
{% endblock content %}
