<!DOCTYPE html>
{% load account %}
{% load socialaccount %}
{% load static %}
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-Hant-TW">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | The Lightened 直接貿易咖啡廳</title>
    <meta name="description" content="The Lightened | 直接貿易咖啡廳 | 公平貿易 | 咖啡烘焙 | 點亮咖啡">
    <meta name="author" content="點亮世界">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "images/logo2.png" %}">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{% static "fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{% static "css/animations.css" %}" rel="stylesheet">

    <!-- Worthy core CSS file -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom css --> 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/cwtexhei.css">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
  </head>
  <body class="no-trans">
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- header start -->
    <!-- ================ --> 
    <header class="header fixed clearfix navbar navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <!-- header-left start -->
            <!-- ================ -->
            <div class="header-left clearfix">

              <!-- logo -->
              <div class="logo smooth-scroll">
                <a href="{{TEMPLATE_DIRS }}/"><img id="logo" src="{% static "images/logo3.png" %}" alt="The Lightened" width="25%"></a>
              </div>

              <!-- name-and-slogan -->
              <div class="site-name-and-slogan smooth-scroll">
                <div class="site-name"><a href="{{TEMPLATE_DIRS }}/">The Lightened</a></div>
                <div class="site-slogan">A Cup of Coffee to Change the World</div>
              </div>

            </div>
            <!-- header-left end -->

          </div>
          <div class="col-md-8">

            <!-- header-right start -->
            <!-- ================ -->
            <div class="header-right clearfix">

              <!-- main-navigation start -->
              <!-- ================ -->
              <div class="main-navigation animated">

                <!-- navbar start -->
                <!-- ================ -->
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">

                    <!-- Toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{TEMPLATE_DIRS }}/">點亮咖啡</a></li>
                        <li><a href="{{TEMPLATE_DIRS }}/blog">點亮專欄</a></li>
                        <li><a href="{{TEMPLATE_DIRS }}/coffeebeans">商品資訊</a></li>
                        
                        {% if username %}
                        <li><a href="{{TEMPLATE_DIRS }}/basket">購物車</a></li>
                       <li><a href="{{TEMPLATE_DIRS }}/accounts/profile">{{ username }}</a></li>
                        {% else %}
                        <li><a href="{{TEMPLATE_DIRS }}/allauth/login">購物車</a></li>
                        <li><a href="{{TEMPLATE_DIRS }}/allauth/login">會員專區</a></li>
                        {% endif %}
                      </ul>
                    </div>

                  </div>
                </nav>
                <!-- navbar end -->

              </div>
              <!-- main-navigation end -->

            </div>
            <!-- header-right end -->
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->



    <body>
      <div class="slategrey"><br><br><br><br><br><br><br><br><br></div>

          <!-- <img src="{% static "images/back_test.jpg" %}" width="15%" alt="" class="banners">     -->
    {% block entries %}{% endblock %}


    <!-- footer start -->
    <!-- ================ -->
    <!-- <footer id="footer"> -->


      <!-- .footer end -->

      <!-- .subfooter start -->
      <!-- ================ -->
      <div class="subfooter">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <p align="center"><img src="{% static "images/logo4.png" %}" alt="" width="80%"></p>
            </div>
          </div>
          <div class ="row">
            <br>
            <p class="text-center">The Lightened © 2017 All Right Reserved.</p>
          </div>
        </div>
      </div>
      <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="{% static "plugins/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="{% static "plugins/modernizr.js" %}"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="{% static "plugins/isotope/isotope.pkgd.min.js" %}"></script>
    
    <!-- Backstretch javascript -->
    <script type="text/javascript" src="{% static "plugins/jquery.backstretch.min.js" %}"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="{% static "plugins/jquery.appear.js" %}"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="{% static "js/template.js" %}"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92609859-1', 'auto');
    ga('send', 'pageview');

    </script>


    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=101197950365729";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{101197950365729}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=101197950365729";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

 
  </body>
</html>
