{% extends "base.html" %}
{% block title%}blog{% endblock %}
{% load django_markdown %}
{% block entries %}
{% load static %}

<!-- google search bar -->
<script>
  (function() {
    var cx = '011187904227738002497:eb46tmimfbk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

  <!---start-Blog---->
          <div class="section">
            <div class="container">
          <!-- <div class="blog"> -->
            <div class="blog-grids">          
                <div class="blog-grids-head">
                </div>
                <div class="blog-grids-box">
                  <div class="row">
                <!-- google search bar -->
<!--                 <div class="col-md-6">
                  <gcse:search></gcse:search>                
                </div> 

                <div class="col-md-6">
                  <form class="blog">
                    <select name="YourLocation">
                    　<option value="Taipei">台北</option>
                    　<option value="Taoyuan">桃園</option>
                    　<option value="Hsinchu">新竹</option>
                    　<option value="Miaoli">苗栗</option>
                    　...
                    </select>
                  </form>
                </div> -->
                <!-- search bar end -->
                  {% for object in object_list %} 
                    <div class="col-md-6">
                      <div class="blog-grid">
                        <div class="blog-poast-head">
                          <div class="blog-art-pic">
                            <a class="post-pic" href="#"> <img src="{{ object.cover_photo.url }}" class="Blog"></a>
                          </div>
                          </div>
                            <p class="meta"> {{ object.created }}</p>
                          <div class="blog-info">
                            <h3><a href="{% url "entry_detail" slug=object.slug %}" class="Blog">{{ object.title }}</a></h3>
                            <p class="meta test">{{ object.body|markdown }}</p>
                            <a class="btn" href="{% url "entry_detail" slug=object.slug %}">Details</a>
                          </div>

                        </div>
                       </div>   
                    {% endfor %}





                      <!-- <div class="col-md-6">
                      <div class="blog-grid">
                        <div class="blog-poast-head">
                          <div class="blog-art-pic">
                            <a class="post-pic" href="#"> <img src="{% static "image/初二的哥斯大黎加.jpg" %}" width="500" height="350"></a>
                          </div>
                          
                          
                          
                          </div>
                          <div class="blog-info">
                            <h3><a href="#">TiTle</a></h3>
                            <p>text.</p>
                            <a class="btn" href="#">Details</a>
                          </div>
                        </div>
                       </div> 


                  <div class="clear"></div> -->

                </div>
                <div class="criuse-grid-load"><a href="#">Loading More</a></div>            
            </div>
          </div>
        </div>
      </div>
    <!----//End-Blog---->
</div></div></div>



{% endblock %}