{% extends "base_blog.html" %}
{% block title%}blog{% endblock %}
{% load django_markdown %}
{% block entries %}
{% load static %}

<!-- google search bar -->
<script>
  (function() {
    var cx = '011187904227738002497:eb46tmimfbk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

  <!---start-Blog---->
          <div class="section">
            <div class="container">

              <h1 class="text-center title" id="portfolio">點亮小農專欄</h1>
        <div class="separator"></div>
        <p class="lead text-center">願小農的點點滴滴，映照在你我心中。</p>
        <div class="space"></div>
          <!-- <div class="blog"> -->
            <div class="blog-grids">          
                <div class="blog-grids-head">
                </div>
                <div class="blog-grids-box">
                  <div class="row">
                <!-- google search bar -->
<!--                 <div class="col-md-6">
                  <gcse:search></gcse:search>                
                </div> 

                <div class="col-md-6">
                  <form class="blog">
                    <select name="YourLocation">
                    　<option value="Taipei">台北</option>
                    　<option value="Taoyuan">桃園</option>
                    　<option value="Hsinchu">新竹</option>
                    　<option value="Miaoli">苗栗</option>
                    　...
                    </select>
                  </form>
                </div> -->
                <!-- search bar end -->
                  {% for object in object_list %} 
                    <div class="col-md-6">
                      <div class="blog-grid">
                        <div class="blog-poast-head">
                          <div class="blog-art-pic">
                            <h3><a href="{% url "entry_detail" slug=object.slug %}" class="Blog">{{ object.title }}</a></h3>
                            <hr>
                              <div style="float:right"><i class="glyphicon glyphicon-time"></i> {{ object.created }}</div> 
                                <div><i class="glyphicon glyphicon-user"></i> Annie Huang</div> 
                            <hr>
                            <a class="post-pic" href="{% url "entry_detail" slug=object.slug %}"> <img src="{{ object.cover_photo.url }}" class="Blog"></a>
                          </div>
                          </div>
                          <div class="blog-info">
                            
                            <div class="space_blog"></div>
                            <!-- <p class="meta test">{{ object.body|markdown }}</p> -->
                          </div>

                        </div>
                       </div>
                    {% endfor %}

<div class="row"><div class="col-md-12">
                     {% if is_paginated %}
                                <ul class="pager">
                                  <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Prev</a></li>
                                  <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a></li>
                                </ul>
                    {% endif %}
</div></div>

                </div>
            </div>
          </div>
        </div>
      </div>
    <!----//End-Blog---->
</div></div></div>



{% endblock %}