{% extends "base_index.html" %} {% block title%}點亮咖啡{% endblock %} {% block entries %} {% load static %}
<!-- google -->


<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=101197950365729";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>






<script>
  FB.api(path, method, params, callback)
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }




  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function (response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function () {
    FB.init({
      appId: '{101197950365729}',
      xfbml: true,
      version: 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.


  FB.getLoginStatus(function (response) {
    if (response.status === 'connected') {
      var accessToken = response.authResponse.accessToken;
    }
  });

  };

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function (response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>





<!-- like & share -->
<!-- <div class="fb-like" data-href="https://www.facebook.com/thelightened/?fref=ts" data-layout="standard" data-action="recommend"
  data-size="small" data-show-faces="true" data-share="true"></div> -->
<!-- like & share -->

<!--   <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                    {% if username %}
                    <li><a href='/userinfo'>個人資料</a></li>
                    <li><a href='/post'>寫日記</a></li>
                    <li><a href='/logout'>登出</a></li>
                    {% else %}
                    <li><a href='/login'>登入</a></li>
                    {% endif %}
                    <li><a href='/admin'>後台管理</a></li>  
            </ul> -->
<!-- login -->

<!--  {% if request.user.is_authenticated %}
            <p>{{request.user}} 您已經登入囉</p>
            <a href="/index/"首頁></a>
        {% else %}
            <p>您尚未登入喔~</a></p>
        {% endif %} -->

<!-- login -->






<!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            
            <div class="space"></div>
            <div class="row">
              
              <div class="col-md-6">
<h1 class="title text-left">關於 <span>直接貿易</span></h1>

                <p class="lead text-left">直接貿易顧名思義，是指店家或咖啡貿易商（我們的美國夥伴）與咖啡農的直接交易關係。這樣的關係除了建立在農民的耕作品質、耕作方式、與交易價格的直接把關上，也創造農民較合理的收購價格、使第三世界國家農民有機會藉咖啡產業脫離貧窮。</p>
                <p class="test1"> 在直接貿易的過程，咖啡小農必須使用環境友善的耕種方式種植高品質的咖啡，以獲取符合生產成本與勞動成本的報酬；咖啡貿易商除了進行採購，一年會有大部分的時間待在產地，確保農民生產方式與品質、保障農民報酬。更重要的是，咖啡豆賣到消費市場後的獲利會有部分（約25%-35%)，回到第三世界國家進行農村建設。使生產、環境、消費者產生永續的發展；直接貿易聯盟相信，當咖啡農的生活獲得改善、並且有足夠的報酬動力，咖啡市場便有更大的機會取得好品質的精品咖啡。</p>
                <p class="test1">直接貿易的好處有二；第一，透過貿易商直接與農民的培力關係，發展中國家的農村能夠因咖啡產業的發展逐漸脫離貧窮；第二，因為咖啡貿易商與小農直接共存的貿易關係，能夠快速直接取得新鮮的高品質咖啡生豆。</p>
              </div>

              <div class="col-md-6">
                <img src="{% static "images/beansinbasket.jpg" %}" alt="">
                <div class="space"></div>
              </div>
            </div>
            <div class="space"></div>
            <div class="space"></div>
            <h2>關於公平貿易</h2>
            <div class="row">
              <div class="col-md-6">
                <p class="test1">全世界公平貿易，是由Edna Ruth Byler這位具有深厚同理心與遠見的女性商人開始。1946年，她拜訪波多黎各的編織技藝團隊，發現當地手工藝的精采與這個國家的極度貧窮。回美國前，她向當地婦女買了一些飾品帶回美國致贈親友。手工藝的精緻馬上受到廣大的歡迎與喜愛。她便開始更具體的向其他第三世界國家的生產者，以合理的價格收購作品；例如巴勒斯坦的手織品與海地的木雕作品。</p>
                <p class="test1">1958年，Edna Ruth Byler的公平貿易（Fair Trade）行為使Ten Thousand Villages這間公平貿易商店成立；至今仍然是北美地區最大的公平貿易商店之一；致力於以貿易的方式直接支持第三世界的生產者。</p>
              </div>
              <div class="col-md-6">
                <img src="{% static "images/farmer.jpg" %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->



{% endblock %}