{% extends "customer/baseaccountpage.html" %}


{% load i18n %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:address-list' %}">地址</a>
    </li>
{% endblock %}

{% block tabcontent %}
<form method="post">
    {% csrf_token %}
    <p>確認刪除帳戶嗎？</p>

    <p><strong>{{ object.summary }}</strong></p>

    <div class="form-group form-actions">
        <button type="submit" class="btn btn-danger btn-lg" data-loading-text="{% trans 'Deleting...' %}">取消</button> {% trans 'or' %} <a href="{% url 'customer:address-list' %}">取消</a>
    </div>
</form>
{% endblock tabcontent %}

