{% extends "base.html" %}
{% load django_markdown %}
{% block entries %}
{% load static %}


{% load i18n %}
	<div>Hello! {{ user }}</div>
{% block head_title %}{% trans "Change Password" %}{% endblock %}
    <h1>{% trans "Change Password" %}</h1>
	<div class='alert alert-{{message.tags}}'>{{ message }}</div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
 


{% endblock %}