{% extends "base.html" %}
{% block entries %}
{% load static %}
{% block title%}{% endblock %}
<div class="sidenav">

<div class="container-fluid text-center">

<hr>
  <div class="row">
              <div class="col-md-4">
                <img src="{% static "image/boss.jpg" %}"  width="240" height="240" class="img-rounded">              
              </div>

              <div class="col-md-8">
              
                <h2>關於老闆</h2>
                <hr>
                <h4><p>text</p></h4>
                

              
  </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/place.jpg" %}"  width="240" height="240" class="img-rounded">               
              </div>

              <div class="col-md-8">

                <h2>點亮咖啡</h2>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/咖啡豆們.jpg" %}"  width="240" height="240" class="img-rounded">               
              </div>

              <div class="col-md-8">
                <h2>直接貿易</h2>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/產品照-海地小農與coffee cherry.jpg" %}"  width="240" height="240" class="img-rounded">               
              </div>

              <div class="col-md-8">
                <h2>公平貿易</h2>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
</div>
</div>
{% endblock %}
