{% extends "base.html" %}
{% block entries %}
{% load static %}
{% block title%}about{% endblock %}
<div class="sidenav">
<div class="container-fluid text-left">

<hr>

<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/boss.jpg" %}"  width="350" height="350">              
              </div>

              <div class="col-md-8">
                <h1>【關於老闆】</h1>
                <hr>
                <h4><p>text</p></h4>                
              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/place.jpg" %}"  width="350" height="350">              
              </div>

              <div class="col-md-8">
                <h1>【點亮咖啡】</h1>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/咖啡豆們.jpg" %}"  width="350" height="350">              
              </div>

              <div class="col-md-8">
                <h1>【直接貿易】</h1>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-4">
                <img src="{% static "image/產品照-海地小農與coffee cherry.jpg" %}"  width="350" height="350">              
              </div>

              <div class="col-md-8">
                <h1>【公平貿易】</h1>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>
<hr>
</div>
</div>
{% endblock %}
