{% extends "base.html" %}
{% block title%}blog{% endblock %}
{% load django_markdown %}
{% block entries %}
{% load static %}
{% block reveal %}
    <link rel="stylesheet" href="{% static "css/reveal.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.4.4.min.js" %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.reveal.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.quantity.js" %}"></script>
{% endblock %} 
<!-- google search bar -->
<script>
  (function() {
    var cx = '011187904227738002497:eb46tmimfbk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>


<div class="sidenav">
       
             <div class="container">
               <div class="row">
                <div class="col-md-12 text-left">
            <h1><b>Blog</b></h1>
          </div>  
         </div>
          <div class="row">
                <div class="col-md-12">
            <div class="destination-head">        
            <!---End-destinatiuons---->
            <div class="find-place dfind-place">
              <div class="wrap">
                
                <!---strat-date-piker---->
                  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
                  <script>
                  $(function() {
                    $( "#datepicker" ).datepicker();
                  });
                  </script>
                <!---/End-date-piker---->
                <div class="p-ww">
                  <form>
                    <span> Where</span>
                    <input class="dest" type="text" value="關鍵字" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Lorem ipsum';}">
                    <span> When</span>
                    <input class="date" id="datepicker" type="text" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
                    <input type="submit" value="Search" />
                  </form>
                </div>
                <div class="clear"> </div>
              </div>
             </div>
            <!----//End-find-place---->
            </div>
           </div>
           </div>
       </div>
     
                   <!-- google search bar -->
<gcse:search>test</gcse:search>

  <!---start-Blog---->
          <div class="container">
          <div class="blog">
            <div class="blog-grids">          
                <div class="blog-grids-head">
                </div>
                <div class="blog-grids-box">
                  <div class="row">

                  {% for object in object_list %} 
                    <div class="col-md-6">
                      <div class="blog-grid">
                        <div class="blog-poast-head">
                          <div class="blog-art-pic">
                            <a class="post-pic" href="#"> <img src="{{ object.cover_photo.url }}" width="500" height="350"></a>
                          </div>
                          </div>
                            <p class="meta"> {{ object.created }} | Tagged under {{  object.tags.all|join:", " }} </p>
                          <div class="blog-info">
                            <h3><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h3>
                            <p>{{ object.body|markdown }}</p>
                            <a class="btn" href="{% url "entry_detail" slug=object.slug %}">Details</a>
                          </div>

                        </div>
                       </div>   
                    {% endfor %}





                      <!-- <div class="col-md-6">
                      <div class="blog-grid">
                        <div class="blog-poast-head">
                          <div class="blog-art-pic">
                            <a class="post-pic" href="#"> <img src="{% static "image/初二的哥斯大黎加.jpg" %}" width="500" height="350"></a>
                          </div>
                          
                          
                          
                          </div>
                          <div class="blog-info">
                            <h3><a href="#">TiTle</a></h3>
                            <p>text.</p>
                            <a class="btn" href="#">Details</a>
                          </div>
                        </div>
                       </div> 


                  <div class="clear"></div> -->

                </div>
                <div class="criuse-grid-load"><a href="#">Loading More</a></div>            
            </div>
          </div>
        </div>
      </div>
    <!----//End-Blog---->
</div>



{% endblock %}