{% extends "base.html" %}
{% block title%}cart{% endblock %}
{% block entries %}
{% load static %}

<div class="sidenav">
   <div class="container">
  <h2>點亮咖啡</h2>
    {% if username %}
            <p> 歡迎選購</p>            
 {% else %}
            <p>請登入再行購買~</p>  <!-- <--problem --> 
 {% endif %}                                                                                       
  <div class="table-responsive" >          
  <table class="table">
    <thead>
      <tr>
        
        <th>商品</th>
        <th>規格</th>
        <th>單價</th>
        <th>數量</th>
        <th>小計</th>
        <th>刪除</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><h4><img src="{% static "image/beansinbasket.jpg" %}" width="100" height="80" class="img-rounded">　空卡</h3></td>
        <td><br><h4>200g</td>
        <td><br><h4>$ 300</td>
        <td><br><h4><div class="input-group"</div>
        </div></td>
        <td><br><h4>300</td>
        <td><br><h4>delete</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<div class="container-fluid text-right">

<button>確認購買</button>

</div>
</div>

{% endblock %}