{% extends "base.html" %}
{% block title%}coffeebeans{% endblock %}
{% block entries %}
{% load static %}

{% block reveal %}
    <link rel="stylesheet" href="{% static "css/reveal.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.4.4.min.js" %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.reveal.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.quantity.js" %}"></script>
{% endblock %} 

<!-- section start -->
    <!-- ================ -->
    <div class="section">
      <div class="container">
        <h1 class="text-center title" id="portfolio">直接貿易咖啡豆</h1>
        <div class="separator"></div>
        <p class="lead text-center">以下咖啡豆皆採直接貿易，且新鮮烘培，歡迎自行採購。</p>
        <br>      
        <div class="row object-non-visible" data-animation-effect="fadeIn">
          <div class="col-md-12">

            <!-- isotope filters start -->
            <div class="filters text-center">
              <ul class="nav nav-pills">
                <li class="active"><a href="#" data-filter="*">全部</a></li>
                <li><a href="#" data-filter=".african">非洲</a></li>
                <li><a href="#" data-filter=".msouthamerican">中南美洲</a></li>
                <li><a href="#" data-filter=".asian">亞洲</a></li>
                <li><a href="#" data-filter=".blended">綜合</a></li>
              </ul>
            </div>
            <!-- isotope filters end -->

            <!-- portfolio items start -->
            <div class="isotope-container row grid-space-20">
              <div class="col-sm-6 col-md-3 isotope-item msouthamerican">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="{% static "images/beansinbasket.jpg" %}" alt="" class="beans">
                    <a class="overlay" data-toggle="modal" data-target="#project-1">
                      <i class="fa fa-search-plus"></i>
                      <span>Detail</span>
                    </a>
                  </div>
                  <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">瓜地馬拉 薇薇特南果 奧利薇</a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-1-label">瓜地馬拉 薇薇特南果 奧利薇</h4>
                      </div>
                      <div class="modal-body">
                        <h3>瓜地馬拉 薇薇特南果 奧利薇</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <p>地區：Guatemala</p>
                            <p>處理廠：SHB EP Huehuetenango</p>
                            <p>處理法：Washed</p>
                            <p>品種：Catura</p>
                            <p>海拔：2000~2500m</p>
                            <p>烘培：中淺焙</p>
                            <p>價格：400/半磅</p>
                            <p>備註：柑橘調性、檸檬酸、酸度中等、甜感佳，尾韻有青果子調。</p>
                             <button type="submit" class="btn btn-lg btn-primary btn-add-to-basket" value="Add to basket" data-loading-text="Add...">Add to basket</button>
                          </div>
                          <div class="col-md-6">
                            <img src="{% static "images/beansinbasket.jpg" %}" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item african">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="{% static "images/crc.jpg" %}" alt="" class="beans">
                    <a class="overlay" data-toggle="modal" data-target="#project-2">
                      <i class="fa fa-search-plus"></i>
                      <span>Detail</span>
                    </a>
                  </div>
                  <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">衣索比亞 耶加雪菲 海倫娜</a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-2-label">衣索比亞 耶加雪菲 海倫娜</h4>
                      </div>
                      <div class="modal-body">
                        <h3>衣索比亞 耶加雪菲 海倫娜</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <p>地區：Yirgacheffe</p>
                            <p>處理廠：Kochere</p>
                            <p>處理法：Washed</p>
                            <p>品種：Typica</p>
                            <p>海拔：2300masi</p>
                            <p>烘培：中淺焙</p>
                            <p>價格：430/半磅</p>
                            <p>備註：從研磨後的乾粉就可以聞到明顯的柑橘、檸檬、花香，濕香氣有隱約的肉桂蘋果派一般令人愉悅的香氣。</p>
                          </div>
                          <div class="col-md-6">
                            <img src="{% static "images/crc.jpg" %}" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              


              <div class="col-sm-6 col-md-3 isotope-item asian">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="{% static "images/DSC00555.jpg" %}" alt="" class="beans">
                    <a class="overlay" data-toggle="modal" data-target="#project-3">
                      <i class="fa fa-search-plus"></i>
                      <span>Detail</span>
                    </a>
                  </div>
                  <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">蘇門達臘 黃金曼特寧</a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-3-label">蘇門達臘 黃金曼特寧</h4>
                      </div>
                      <div class="modal-body">
                        <h3>蘇門達臘 黃金曼特寧</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <p>地區：Sumatra</p>
                            <p>處理廠：Kochere</p>
                            <p>處理法：Washed</p>
                            <p>品種：Typica</p>
                            <p>海拔：1200~1400masi</p>
                            <p>烘培：深焙</p>
                            <p>價格：500/半磅</p>
                            <p>備註：喝起來醇厚飽滿，溫暖綿密，回甘極佳，悠長的黑巧克力餘韻。</p>
                          </div>
                          <div class="col-md-6">
                            <img src="{% static "images/DSC00555.jpg" %}" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>


              <div class="col-sm-6 col-md-3 isotope-item blended">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="{% static "images/beans.jpg" %}" alt="" class="beans">
                    <a class="overlay" data-toggle="modal" data-target="#project-4">
                      <i class="fa fa-search-plus"></i>
                      <span>Detail</span>
                    </a>
                  </div>
                  <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">點亮小農綜合</a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-4-label">點亮小農綜合</h4>
                      </div>
                      <div class="modal-body">
                        <h3>點亮小農綜合</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <p>地區：-</p>
                            <p>處理廠：-</p>
                            <p>處理法：-</p>
                            <p>品種：Typica, Catura, Pacamara</p>
                            <p>海拔：-</p>
                            <p>烘培：-</p>
                            <p>價格：350/半磅</p>
                            <p>備註：嚴選七隻不同種類的咖啡豆進行配方，北義風格與牛奶非常相稱。</p>
                          </div>
                          <div class="col-md-6">
                            <img src="{% static "images/beans.jpg" %}" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>


            </div>
            <!-- portfolio items end -->
          
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->



{% endblock %}