{% extends "base.html" %}
{% block entries %}
{% load static %}
{% block title%}{% endblock %}

<div class="sidenav">
<div class="container-fluid text-left">

<hr>

<div class="row">
              <div class="col-md-5">
                <img src="{% static "image/店頭招牌.jpg" %}"  width="500" height="350">              
              </div>

              <div class="col-md-7">
                <h1>【桃園】</h1>
                <hr>
                <h4><p>text</p></h4>
                

              </div>
            </div>
<hr>
<div class="row">
              <div class="col-md-5">
                <img src="{% static "image/德國難民照片展一角.jpg" %}" class="img-rounded"  width="500" height="350">              
              </div>

              <div class="col-md-7">
                <h1>【台南】</h1>
                <hr>
                <h4><p>text</p></h4>

              </div>
            </div>

<hr>
</div>

</div>



{% endblock %}