<!DOCTYPE html>
<html lang="en">
<head>
		<title>The Lightened</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	<style type=text/css> 
  		<!--
		/*全部設定字體*/
 		body { font-family:微軟正黑體;}
		//-->
	</style>

  	<style>
	{% load static %}
    .head {
        padding-bottom:10px;
        padding-top: 10px;
        background-image: url("{% static "image/tileable_wood_texture.png" %}");
      
    }    
    
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
        margin-bottom: -10px;
        border-radius: 0;
        background-color: #352c21;
    }
    
    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
        margin-bottom: 0;
        background-image: url("{% static "image/tileable_wood_texture.png" %}");
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 700px}

    .carousel-inner img {
      width: 100%;  /*Set width to 100%*/ 
      max-height: 500px;
  }

    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 0px;
        background-color: #FFFFFF;
        height: 100%;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #352c21;
      padding: 20px;
      color: white;
    }
  </style>

</head>

<body>
    
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{101197950365729}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=101197950365729";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>



<div id="status">
</div>



<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="true" onlogin="checkLoginState();"></div>


<div class="head">
	<div class="container">
  		<div class="row">
    		<div class="col-sm-3 ">
    		</div>
      		<div class="col-sm-2 ">
      		</div>
      		<div class="col-sm-2 ">
            
   			<a href="{{TEMPLATE_DIRS }}/index"><img src="{% static "image/logo3.png" %}" class="img-rounded" width="200" height="200"></a>

      		</div>
      		<div class="col-sm-2 ">
      		</div>
      		<div class="col-sm-3 ">
      		</div>
		</div>
	</div>
</div>
	 
   <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    	<div class="navbar-header">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
      	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
        		<li><a href="{{TEMPLATE_DIRS }}/about"><b>About 點亮咖啡</b></a></li>
            <li><a href="{{TEMPLATE_DIRS }}/blog"><b>專欄</b></a></li>
            <li><a href="{{TEMPLATE_DIRS }}/coffeebeans"><b>咖啡豆</b></a></li>   
            <li><a href="{{TEMPLATE_DIRS }}/product"><b>公平貿易產品</b></a></li>
            <li><a href="{{TEMPLATE_DIRS }}/partnershop"><b>夥伴商店</b></a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">




           <form action="" method="post">
      <input type ="submit" value ="登入" />
      <label for="username"  ><font color="#808080">用戶名稱:</font></label> {%  csrf_token %}
      <input type="text"  name ="username" value="{{username}}" id="username" <br />
      <label for="password"><font color="#808080"> 用戶密碼: </font></label>
      <input type="password" name="password" value ="" id="password">   
      還沒有帳號?，請 <a href='/indexregister/'>註冊  </a>
           </form>

        		<li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        		<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      		</ul>
    	</div>
  	</div>
</nav>



<div class="sidenav">
      <div class="row content">
        <div class="col-sm-12 ">
    		<div id="myCarousel" class="carousel slide" data-ride="carousel">

    			<!-- Indicators-->
				
     			<ol class="carousel-indicators">
				{% for i in index %}
				{% if forloop.counter == 1 %}
      				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					{% else %}
      				<li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"></li>
					{% endif %}
				{% endfor %}
      			</ol>
				
				
				
    			<!-- Wrapper for slides-->
    			<div class="carousel-inner" role="listbox">
            {% for i in index %}
					{% if forloop.counter == 1 %}
      				<div class="item active">
					{% else %}
					<div class="item">
					{% endif %}
        				<img src="\static\image\{{i.name}}.jpg"  width="60%" height="60%">
        				<div class="carousel-caption">
          					<h3></h3>
          					<p></p>
        				</div>
      				</div>
            {% endfor %}
      				
    

					<!-- Left and right controls-->
    				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    					<span class="sr-only">Previous</span>
  					</a>
  					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    					<span class="sr-only">Next</span>
  					</a>
				</div>
			</div>
      	</div>
    </div>
</div>

<footer class="container-fluid text-left">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-4">
  		<h4>
  					<p>台北市溫州街74巷5弄3號1樓</p>
					<p><span class="glyphicon glyphicon-phone-alt"></span>	02-23690041</p>
					<p><span class="glyphicon glyphicon-time"></span>	12:00 - 21:30</p>

				</h4>
  			</div>
  			<div class="col-sm-4">
  				
  			</div>
  			<div class="col-sm-4">
  				<div class="container-fluid text-right">
  					<br><img src="{% static "image/logo4.png" %}" class="img-rounded" alt="thelightened.html" width="180" height="70">
  				</div>
  			</div>
  		</div>
	</div>

</footer> --> 



</body>
</html>